{% extends 'base.html.twig' %}

{% block title %}FansarEdu{% endblock %}


{% block content %}
    <div class="container main-container row">
        <div class="col-3 column">
            {% for subject in sub_array %}
                <div class="col subject">
                    <a href="/education/{{ subject.id }}/lessons" class="sub-link">
                        <div class="sub">
                            <img src="/img/subject_{{ subject.id }}.png" alt="{{ subject.name }} logo" class="sub-img">
                            <h2>{{ subject.name }}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="col-9">
            {%  for lesson in lesson_array %}
                <a href="/education/lessons/{{ lesson.id }}">
                    <div class="col lesson-description">
                        <h3>{{ lesson.topic }}</h3>
                        <p>{{ lesson.shortDescription }}</p>
                        <div class="article-detail row justify-content-between">
                            <p>{{ lesson.createdDate }}</p>
                            <p>user</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
