{% extends 'base.html.twig' %}
{% block title %} Post {% endblock %}
{% block content %}
    <div class="container lesson">
        <div class="">
            <h1>{{ topic }}</h1>
        </div>
        <div class="font-img">
            <a href="/education/lessons/{{ lessonId }}/delete" title="Удаление занятия">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </div>
        <div class="font-img">
            <a href="/education/lessons/{{ lessonId }}/edit" title="Редактирование занятия">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
        </div>
        <p>{{ lessonDescription }}</p>
        <hr>
        <iframe width="560" height="315" src={{ videolink }} frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <hr>
        <h2>Термины</h2>
        <div class="termins-for-add">
            {% for term in terms %}
                <div class="single-term row">
                    <div class="term col-3">
                        <p>{{ term.term }}</p>
                    </div>
                    <div class="def col-8">
                        <p>{{ term.definition }}</p>
                    </div>
                    <div class="font-img col-1">
                        <a href="#" title="Добавление термина в словарь">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <h2>Тест</h2>
        <div class="test">
            <form method="POST" action="/education/lessons/{{ lessonId }}/check">
                {% for question in questions %}
                    <div class="single-test">
                        <div class="form-group">
                            <p>{{ question.question }}</p>
                        </div>
                        <div class="row answer">
                        {% for answer in question.answers %}
                                <div class="col ans">
                                    <p>{{ answer.text }}</p>
                                    <input type="radio" value="{{ answer.id }}" name="answer{{ question.id }}">
                                </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form row justify-content-center">
                    <button type="submit" class="btn btn-submit btn-primary">Сохранить ответы</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}